<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Componentes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let c of componentes" [routerLink]="c.redirectTo" detail>
      <ion-icon [name]="c.icon" slot="start"></ion-icon>
      {{ c.name }}
    </ion-item>
  </ion-list>

  <ion-fab slot="fixed" [edge]="true" vertical="top" horizontal="end">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="bottom">

      <ion-fab-button *ngFor="let c of componentes" [routerLink]="c.redirectTo">
        <ion-icon [name]="c.icon" [color]="c.color"></ion-icon>
      </ion-fab-button>
      
    </ion-fab-list>
  </ion-fab>
</ion-content>
